

.home-comp{
    margin-left: 400px;
    padding: 20px;
}
.home-comp h1{
    font-size: 34px;
    margin: 10px 0px;
}
.all-movies{
    width: 90%;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: scroll;
    overflow-y: hidden;
}.all-movies::-webkit-scrollbar {
    height: 5px;
}
.all-movies::-webkit-scrollbar-track {
    background: rgb(206, 206, 206);
    border-radius: 10px;
}
.all-movies::-webkit-scrollbar-thumb {
    background:rgb(0, 0, 73) ;
    border-radius: 10px;
}
  

.movie{
    color: white;
    min-width: 200px;
    width: 200px;
    height: 270px;
    margin: 0px 12px;
    padding: 10px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.movie h1{
    font-size: 20px;
}
